<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">Partick Bryant</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>Manager</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: 2</li>
            <li class="list-group-item">Email: <a href="mailto:patrick.bryant@servicetec.com">Patrick Barret</a></li>
            <li class="list-group-item">Office number: 6124075701</li>
        </ul>
    </div>
</div>
